<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSTACLONE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="staticfiles/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <style>
        .navbar-nav .nav-link:hover {
            color: #fff;
            background-color: #f8f9fa;
        }
        .navbar-nav .nav-link {
            color: #fff;
            background-color: #343a40;
        }
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: white;
}
.logo{
    width: 40%;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-{{message.type}}">
            {{message.text}}
        
        </div>
    {% endfor %}
    

    <h1>INSTAGRAM</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Instagram</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" a href="signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" a href="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" a href="logout">Logout</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        {% for image in images %}
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Self-love is top self</p>
                <p class="card-text"><small>Coco and 775 others liked your photo</small></p>
              </div>
              <div class="card-footer">
                  <form action="">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Comment</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1"placeholder="Add a comment" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post


                    </button>
            </div>
          </div>
        
        </div>
      </div> 
      {% endfor %}
    </div>
        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   
</body>
</html>