*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #b81c1c;
}
.logo{
    width: 40%;
    height: 100px;
    background: #b81c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

    


